<div class="col-md-3">  
  <%= image_tag "geoff_browning.png", :class => "band-photos" %>
  <br />
  <h5>Geoff Browning</h5>
</div>

<div class="col-md-3">  
  <%= image_tag "jasper.png", :class => "band-photos" %>
  <br />
  <h5>Jasper Drisko</h5>
</div>

<div class="col-md-3">
  <%= image_tag "carter_jones.png", :class => "band-photos" %>
  <br />
  <h5>Carter Jones</h5>
</div>

<div class="col-md-3"> 
  <%= image_tag "nik_sus.png", :class => "band-photos" %> 
  <br />
  <h5>Nik Sus</h5>
</div>