<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="container">
      <h1>Contact Us</h1>
      <div class="col-md-6">
        <form role="form">
          <div class="form-group">
            <label for="exampleInputText">Name</label>
            <input type="text" class="form-control" id="exampleInputText" placeholder="">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">E-mail Address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
          </div>
          <div class="form-group">
            <label for="exampleInputText">Subject</label>
            <input type="text" class="form-control" id="exampleInputText" placeholder="">
          </div>
          <div class="form-group">
            <label for="exampleInputTextArea">Message</label>
            <textarea class="form-control" rows="6"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container">
      <h1>For Promoters</h1>
      <div class="col-md-6">
        <div class="logo">
          <img src="assets/B-Side-Logo-White.png">
          <button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-save"></span> Download Logo</button>
        </div>
        <div class="font">
          <img src="assets/bsidefont.png">
          <div>
          <a href="http://www.bestpsdfreebies.com/freebie/multicolor-font/"><span class="glyphicon glyphicon-save"></span> Download Typeface Files</a>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>