<div id="fullpage">
    <div class="section red active" id="record">
      <%= render "svgs/recordspin" %>
    </div>
    <div class="section content">
      <%= render "home" %>
    </div>
    <div class="section content">
      <%= render "gallery" %>
    </div>
    <div class="section content">Some section</div>
</div>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>