<div id="fullpage">
    <div class="section red active">
      <h1>Splash</h1>Some section
    </div>
    <div class="section content">
      <%= render "home" %>
    </div>
    <div class="section content">
      <%= render "gallery" %>
    </div>
    <div class="section content">Some section</div>
</div>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>