<div id="fullpage">
    <div class="section red active">
      <h1>Splash</h1>Some section</div>
    <div class="section green">Some section</div>
    <div class="section blue">Some section</div>
    <div class="section">Some section</div>
</div>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>