<!DOCTYPE html>
<html>
<head>
  <title>BSideShuffle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-default navbar-fixed-top hidden" id='header'>
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
        <a id="logoHeader"class="navbar-brand" href="/">
          B-Side Shuffle
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul id="navLinks" class="nav navbar-nav navbar-right">
          <li><a href="/register">Songs</a></li>
          <li><a href="/signin">Artists</a></li>
          <li><a href="/signin">About Us</a></li>
        </ul>
      </div>
    </div>
  </header>
<%= yield %>

</body>
</html>
